POSTGRES_USER=pickmeuser
POSTGRES_PASSWORD=pickmepassword
POSTGRES_PORT=5432
POSTGRES_HOST=database
POSTGRES_DB=pickmedb

# s3 | local
STORAGE_PROVIDER=s3

# s3 params
STORAGE_S3_ENDPOINT=s3
STORAGE_S3_AWS_ACCESS_KEY_ID=user
STORAGE_S3_AWS_SECRET_ACCESS_KEY=pass
STORAGE_S3_PORT=9000
STORAGE_S3_BUCKET=upload

# local params
STORAGE_LOCAL_PATH='/storage'

APP_ENV=dev
