BROKER_USER=admin
BROKER_PASSWORD=password
BROKER_HOST=broker
BROKER_PORT=5672

EMAIL_USER=str
EMAIL_PASSWORD=str
EMAIL_SMTP_HOST=smtp.yandex.com
EMAIL_SMTP_PORT=465
EMAIL_IMAP_HOST=imap.yandex.com
EMAIL_IMAP_PORT=993

APP_ENV=dev
