[project]
name = "telegram_connector"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "common",
]

[tool.uv.sources]
common = { workspace = true }
