POSTGRES_USER=pickmeuser
POSTGRES_PASSWORD=pickmepassword
POSTGRES_PORT=5432
POSTGRES_HOST=database
POSTGRES_DB=pickmedb

BROKER_USER=admin
BROKER_PASSWORD=password
BROKER_HOST=broker
BROKER_PORT=5672

AUTH_SECRET=secretkey
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_TTL=30
AUTH_REFRESH_TOKEN_TTL=1440
AUTH_SUBSCRIPTION_TOKEN_TTL=30

CENTRIFUGO_URL=http://centrifugo:8000/api
CENTRIFUGO_API_KEY=secret

APP_ENV=dev
